html {
    font-size: 18px;
    font-family: Helvetica;
}

.parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #000;
}

.logo {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.logo span {
    font-size: 1rem;
    padding: 0.5rem 0.66rem;
}

.logo img {
    height: 1.5rem;
    padding: 0.5rem;
}

.container {
    width: 960px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;

}

.motor {
    background-image: url(Images/moto.jpeg);
    background-size: cover;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.special {
    background-color: #000;
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    width: 20rem;
    height: auto;
    padding: 2rem 3rem;
}

#arrival,
#bikes,
#pentext {
    color: #fff;
}

#arrival {
    font-size: 1rem;
}

#bikes {
    font-size: 2rem;
}

.mainmenu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: firebrick;

}

.menu {
    width: 960px;
    display: flex;
    justify-content: space-between;
}

.mainmenu li {
    color: #fff;
    padding: 0.75rem 0;
}

.dropdown {
    display: none;
}

.gallery {
    display: flex;
    justify-content: center;
}

.itemcontainer {
    width: 960px;
    display: flex;
    flex-direction: row;
    align-content: space-between;

}

.item {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid black;
}

.item span {
    margin: 0.5rem auto;
    max-width: 100%;
    background-color: #000;
    justify-content: center;
    display: flex;
}

.galimage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13rem;
    width: 100%;
    background-color: #fff;

}

.galimage img {
    max-width: 50%;
    max-height: 9rem;
    vertical-align: middle;
}

.info {
    display: flex;
    justify-content: center;

}

.infocontainer {
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infocontainer h6 {
    color: #fff;
    background-color: #000;
    padding: 1rem 2rem;
    margin-bottom: .3rem;
}

.infocontainer span {
    padding: 2rem;
}

.location,
.hours {
    width: 35%;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.footcontainer {
    width: 960px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10rem;
}

.footcontainer span {
    color: #fff;
}

@media (max-width:1024px) {
    .menu {
        display: none;
    }
    /* Navbar container */
    .mainmenu {
        overflow: hidden;
        background-color: firebrick;
        font-family: Arial;
    }

    /* Links inside the navbar */
    .mainmenu a {
        float: left;
        font-size: 16px;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* The dropdown container */
    .dropdown {
        display: inline-block;
        float: left;
        overflow: hidden;
    }

    /* Dropdown button */
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: #fff;
        font-weight: bold;
        padding: 14px 16px;
        background-color: inherit;
    }

    /* Add a red background color to navbar links on hover */
    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: #333;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    
    
    
    .item {
        width: 47%;
    }
    .itemcontainer {
        flex-direction: column;
    }
    .infocontainer {
        align-items: center;
        flex-direction: column;
    }
    .infocontainer span {
        padding: 1rem;
    }
}

@media (max-width:480px) {

    .special {
        margin-top: 10rem;
        width: 100%;
        height: auto;
        padding: 1rem 2rem;
    }
    #arrival {
        font-size: 0.77rem;
        font-weight: bold;
    }

    #bikes {
        font-size: 1rem;
        font-weight: bold;
    }
    .item {
        width: 90%;
    }
    .itemcontainer {
        flex-direction: column;
    }
    .infocontainer {
        align-items: center;
        flex-direction: column;
    }
    .infocontainer span {
        padding: 1rem;
    }
    .location,
    .hours {
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
    .footcontainer {
        justify-content: center;
    }

}
